body {
  background-color: #c19a6b;
  font-family: sans-serif;
  margin: auto;
  max-width: 70ch;
  color: #5C4033;
  margin-left: center;
  margin-top: 50px;
}

// shades of brown :
//htmlcolorcodes.com/colors/shades-of-brown/
